<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" />
    <title>Document</title>
</head>

<body>
    <div class="row">
        <div class="col-sm-4">Right Now</div>
        <div class="col-sm-8">Eventually</div>
      </div>
            

</body>