

<body>
    <form class="signup-form">
        <div>
            <label for="username-signup">username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="password-signup">password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit">login</button>
        </div>
    </form>
    
</body>
