<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">2Doozies</a>
      </h1>
      <nav>
        {{#if loggedIn}}
          <a href="/dashboard">dashboard</a>
          <button id="logout" class="btn-no-style">logout</button>
        {{else}}
          <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    {{{body}}}

  </body>
</html>