<div class="row d-flex justify-content-around">
    <div class="col-5 today-list">
        <h1 class="text-center">Today</h1>
        <input id = "title" class="form-control text-center" placeholder ="Add your to-do's title here!!!" />
        <br>
        <textarea id = "description" class="form-control text-center" placeholder ="Add a description of your to-do here." rows="3"></textarea>
        <br>
        <input id = "userid" value = {{userid}} type = "hidden" />
        <div class="text-center">
            <button id= "add" class="btn btn-outline-info bg-blue btn-lg text-center">Add To-do!</button>
        </div>
        <br>
        <ol id = "doozieContainer">
        {{#each doozie}}

            <li>{{this.title}}</li>
                <div>{{this.description}}</div>
                <button value = "{{this.id}}" class="btn btn-outline-info bg-blue" >Done</button>
            
           {{/each}}
        </ol>
    </div>

    <div class="col-5 future-list">
        <h1 class="text-center">Eventually</h1>
        <textarea class="form-control text-center" placeholder="Add your future to-do here!!!" id="doozieInput" rows="3"></textarea>
        <br>
        <ol>
            <li>Colonoscopy</li>
            <li>Oil Change</li>
        </ol>
    </div>
    <div class="col-2"></div>
</div>

<script src="/javascript/savedoozie.js"></script>
<script src="/javascript/deletedoozie.js"></script>
